.songmenuTop {
    margin-top: 0.4rem;
    border-left: 0.05rem solid #ED5929;
    font-size: 0.4rem;
    font-weight: bold;
    padding-left: 0.2rem;
}

.songmenucontent {
    margin-top: 0.3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.menubox {
    width: 30vw;
}

.menubox img {
    width: 30vw;
}

.menubox p {
    height: 1rem;
    margin: 0.1rem 0;
    line-height: 0.5rem;
    overflow: hidden;
    font-size: 0.3rem;
    /* font-weight: bold; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}